body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0px;
}


.post-body
{
	width: 100%;
    margin: 20px;
    padding: 0;
    outline: none;
	display: inline-block;
	font:  Arial;
	position: relative;
    margin-left: 25%;
    max-width: 700px;
    background: #58ACFA;
    padding: 6px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);

}

.post-title
{
	padding-left: 10px;
	padding-top: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 2px;
	font-size: 18px;
	position: relative;

}

.post-contents
{
	padding-left: 10px;
	padding-top: 5px;
	font-size: 12px;
	position: relative;
}

.comment-body
{

}

.comment-user
{

}

.comment-contents
{

}

h1 {
	background-color: #58ACFA;
	padding: 10px;
	margin: 0px 0px;
	color: white;
}

nav {
  background-color: #848484;
  color: white;
  margin: 0 -20px;  /* negative margin here makes up for header padding */
  font-size: 28px;
  font-weight: 200;
}

.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}

.navbar-item {
  display: inline;
}

.navbar-item a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.navbar-right {
	float: right;
}

.navbar-item:hover a {
  background-color: #0489B1;
}

.copyright {
	float: right;
	margin:20px;
}


.add-note-button-container {
  position: fixed;
  bottom: 35px;
  right: 35px;
  z-index: 10;
}

#add-note-button {
  width: 64px;
  height: 64px;
  background-color: #848484;
  border: none;
  border-radius: 32px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 40px;
  font-weight: 200;
  padding: 0 0 8px 0;
  cursor: pointer;
  outline: none;
}

#add-note-button:hover {
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.33);
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#add-note-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.todo-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.todo-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.todo-input-element input,
.todo-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.todo-input-element textarea {
  min-height: 64px;
}

.todo-input-element.required label::after {
  content: ' *';
  color: red;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #2464f5;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #5481e4;
}

